/* kumbh-sans-regular - latin */
@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kumbh-sans-v12-latin-regular/kumbh-sans-v12-latin-regular.eot");
  src: local(""),
    url("../fonts/kumbh-sans-v12-latin-regular/kumbh-sans-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/kumbh-sans-v12-latin-regular/kumbh-sans-v12-latin-regular.woff2")
      format("woff2"),
    url("../fonts/kumbh-sans-v12-latin-regular/kumbh-sans-v12-latin-regular.woff")
      format("woff"),
    url("../fonts/kumbh-sans-v12-latin-regular/kumbh-sans-v12-latin-regular.ttf")
      format("truetype"),
    url("../fonts/kumbh-sans-v12-latin-regular/kumbh-sans-v12-latin-regular.svg#KumbhSans")
      format("svg");
}

/* kumbh-sans-700 - latin */
@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/kumbh-sans-v12-latin-700/kumbh-sans-v12-latin-700.eot");
  src: local(""),
    url("../fonts/kumbh-sans-v12-latin-700/kumbh-sans-v12-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/kumbh-sans-v12-latin-700/kumbh-sans-v12-latin-700.woff2")
      format("woff2"),
    url("../fonts/kumbh-sans-v12-latin-700/kumbh-sans-v12-latin-700.woff")
      format("woff"),
    url("../fonts/kumbh-sans-v12-latin-700/kumbh-sans-v12-latin-700.ttf")
      format("truetype"),
    url("../fonts/kumbh-sans-v12-latin-700/kumbh-sans-v12-latin-700.svg#KumbhSans")
      format("svg");
}

:root {
  /*--------- text colors----------- */
  --sm-primary: hsl(237, 12%, 33%);
  --sm-secondary: hsl(240, 6%, 50%);
  --sm-color-3: hsl(14, 88%, 65%);
  --sm-Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  /*--------- Dividers colors----------- */
  --sm-Divider-color: hsl(240, 5%, 91%);
  /*--------- background colors----------- */
  --sm-first-color: hsl(273, 75%, 66%);
  --sm-second-color: hsl(240, 73%, 65%);
}
.sm-text-title {
  font-weight: 700;
  color: var(--sm-Very-dark-desaturated-blue);
}
body {
  font-family: "Kumbh Sans";
  font-weight: 400;
  font-size: 14px;
  background-image: linear-gradient(
    var(--sm-first-color),
    var(--sm-second-color)
  );
  background-repeat: no-repeat;
}
